<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="/cbb752b19" class="btn">Home</a>
  <a href="/cbb752b19/syllabus" class="btn">Syllabus</a>
  <a href="/cbb752b19/info" class="btn">Course Info</a>
  <a href="/cbb752b19/discussion" class="btn">Discussion Sections</a>
  <a href="/cbb752b19/assignments" class="btn">Assignments</a>
  <a href="/cbb752b19/quiz" class="btn">Quiz Archive</a>
  <a href="/cbb752b19/final" class="btn">Final Project</a>
</section>
